* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header {
  border: 1px solid #ff0000;
  height: 100px;
}
.header-wrapper {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #ff0000;
}
.header-wrapper-logo {
  border: 1px solid #ff0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.header-wrapper-logo img {
  height: 100%;
  border: 1px solid #ff0000;
}
.header-wrapper-contacts {
  height: 100%;
  color: #bababa;
}
.header-wrapper-contacts-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ff0000;
  height: 50%;
}
.header-wrapper-contacts-phone img {
  height: 80%;
}
.header-wrapper-contacts-phone span {
  font-size: 2rem;
  font-weight: bolder;
}
.header-wrapper-contacts-email {
  border: 1px solid #ff0000;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-wrapper-contacts-email img {
  height: 80%;
}
.header-wrapper-contacts-email span {
  font-size: 2rem;
  font-weight: bolder;
}
.header-wrapper .header-wrapper-contacts {
  padding: 0;
}
