* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ff7e00;
}
.center {
  display: block;
  margin: 0 auto;
}
.souvenir-span {
  font-weight: bolder;
  font-size: 2.5rem;
}
.header {
  height: 100px;
  font-family: 'Exo 2', sans-serif;
}
.header-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.header-wrapper-logo {
  display: block;
  height: 100%;
}
.header-wrapper-logo img {
  height: 100%;
}
.header-wrapper-contacts {
  height: 100%;
  color: #807e7b;
}
.header-wrapper-contacts-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50%;
}
.header-wrapper-contacts-phone img {
  height: 80%;
  margin-right: 20px;
}
.header-wrapper-contacts-phone span {
  font-size: 2rem;
  font-weight: bolder;
}
.header-wrapper-contacts-email {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-wrapper-contacts-email img {
  height: 80%;
  margin-right: 20px;
}
.header-wrapper-contacts-email span {
  font-size: 2rem;
  font-weight: bolder;
}
.header-wrapper .header-wrapper-contacts,
.header-wrapper .header-wrapper-logo {
  padding: 0;
}
.menu {
  height: 50px;
  font-family: 'Exo 2', sans-serif;
  background-color: #ff7e00;
}
.menu-wrapper {
  width: 80%;
  margin: 0 auto;
}
.menu-wrapper-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  text-align: center;
}
.menu-wrapper-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  height: 100%;
}
.menu-wrapper-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 93%;
  -ms-flex-line-pack: center;
      align-content: center;
  text-decoration: none;
  font-size: 1.7rem;
  padding: 0 10px;
  color: white;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}
.menu-wrapper-list li a:hover {
  background-color: white;
  color: #ff7e00;
  border-radius: 5px;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}
.slider {
  height: auto;
}
.slider .carousel {
  height: 100%;
}
.slider .carousel .carousel-inner {
  height: 100%;
}
.slider .carousel .carousel-inner .item img {
  width: 100%;
}
.row div {
  padding: 0;
}
.photoprint {
  height: auto;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}
.photoprint-price {
  height: 100%;
  color: #ff7e00;
  text-align: center;
}
.photoprint-price h1 {
  font-family: 'Exo 2', sans-serif;
  font-weight: bolder;
  text-align: center;
  margin-top: 50px;
}
.photoprint-price-table {
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
  font-family: 'Exo 2', sans-serif;
}
.photoprint-price-table tr {
  border: 1px solid gray;
}
.photoprint-price-table tr th {
  text-align: center;
  font-size: 3rem;
  background-color: #d1d1d1;
  border: 1px solid gray;
  padding: 3px;
}
.photoprint-price-table tr td {
  text-align: center;
  font-size: 2rem;
  border: 1px solid gray;
  padding: 3px;
}
.photoprint-price-table tr:nth-child(odd) {
  background-color: #ededed;
}
.photoprint-price-table:last-child {
  margin-bottom: 70px;
}
.photoprint-price span {
  display: block;
  margin-top: 20px;
}
.photoprint-pict {
  height: 100%;
}
.photoprint-pict img {
  position: relative;
  float: right;
  width: 200%;
}
.docphoto {
  height: auto;
}
.docphoto-pict {
  height: 100%;
}
.docphoto-pict img {
  display: block;
  margin: 20px auto;
  padding: 30px 0;
}
.docphoto-price {
  height: 100%;
  font-family: 'Exo 2', sans-serif;
}
.docphoto-price h1 {
  font-weight: bolder;
  text-align: center;
  margin-top: 50px;
}
.docphoto-price-table {
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
}
.docphoto-price-table tr {
  border: 1px solid gray;
}
.docphoto-price-table tr th {
  text-align: center;
  font-size: 3rem;
  background-color: #d1d1d1;
  border: 1px solid gray;
  padding: 3px;
}
.docphoto-price-table tr td {
  text-align: center;
  font-size: 2rem;
  border: 1px solid gray;
  padding: 3px;
}
.docphoto-price-table tr:nth-child(odd) {
  background-color: #ededed;
}
.souvenir {
  height: auto;
  font-family: 'Exo 2', sans-serif;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}
.souvenir h1 {
  font-weight: bolder;
  text-align: center;
  margin: 100px 0 50px 0;
}
.souvenir-block1 {
  height: auto;
  text-align: center;
}
.souvenir-block1-cup1 {
  height: 400px;
}
.souvenir-block1-cup1 img {
  height: 100%;
}
.souvenir-block1-cup2 {
  height: 400px;
}
.souvenir-block1-cup2 img {
  height: 100%;
}
.souvenir-block1-pillow {
  height: 400px;
}
.souvenir-block1-pillow img {
  height: 100%;
}
.souvenir-block2 {
  height: auto;
  margin-top: 100px;
  text-align: center;
}
.souvenir-block2-case {
  height: 400px;
}
.souvenir-block2-case img {
  height: 100%;
}
.souvenir-block2-trinket {
  height: 400px;
}
.souvenir-block2-trinket img {
  height: 100%;
}
.souvenir-block2-puzzles {
  height: 400px;
}
.souvenir-block2-puzzles img {
  height: 100%;
}
.souvenir-block3 {
  height: auto;
  margin: 100px 0;
  text-align: center;
}
.souvenir-block3-magnits {
  height: 400px;
}
.souvenir-block3-magnits img {
  height: 100%;
}
.souvenir-block3-shar {
  height: 400px;
}
.souvenir-block3-shar img {
  height: 100%;
}
.souvenir-block3-cover {
  height: 400px;
}
.souvenir-block3-cover img {
  height: 100%;
}
.photoproduct {
  height: auto;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}
.photoproduct h1 {
  font-weight: bolder;
  text-align: center;
  margin: 100px 0 50px 0;
}
.photoproduct h2 {
  font-size: 3rem;
}
.photoproduct-framesone {
  height: 400px;
}
.photoproduct-framesone-frm01 {
  height: 100%;
}
.photoproduct-framesone-frm01 img {
  height: 100%;
}
.photoproduct-framesone-frm02 {
  height: 100%;
}
.photoproduct-framesone-frm02 img {
  height: 100%;
}
.photoproduct-framesone-frm03 {
  height: 100%;
}
.photoproduct-framesone-frm03 img {
  height: 100%;
}
.photoproduct-framesone-frm04 {
  height: 100%;
}
.photoproduct-framesone-frm04 img {
  height: 100%;
}
.photoproduct-framestwo {
  margin-top: 70px;
  height: 400px;
}
.photoproduct-framestwo-frm01 {
  height: 100%;
}
.photoproduct-framestwo-frm01 img {
  height: 100%;
}
.photoproduct-framestwo-frm02 {
  height: 100%;
}
.photoproduct-framestwo-frm02 img {
  height: 100%;
}
.photoproduct-framestwo-frm03 {
  height: 100%;
}
.photoproduct-framestwo-frm03 img {
  height: 100%;
}
.photoproduct-framestwo-frm04 {
  height: 100%;
}
.photoproduct-framestwo-frm04 img {
  height: 100%;
}
.photoproduct h3 {
  display: inline-block;
  font-size: 3rem;
  margin-top: 50px;
}
.photoproduct-albumsone {
  height: 400px;
}
.photoproduct-albumsone-alb01 {
  height: 100%;
}
.photoproduct-albumsone-alb01 img {
  height: 100%;
}
.photoproduct-albumsone-alb02 {
  height: 100%;
}
.photoproduct-albumsone-alb02 img {
  height: 100%;
}
.photoproduct-albumsone-alb03 {
  height: 100%;
}
.photoproduct-albumsone-alb03 img {
  height: 100%;
}
.photoproduct-albumsone-alb04 {
  height: 100%;
}
.photoproduct-albumsone-alb04 img {
  height: 100%;
}
.photoproduct-albumstwo {
  margin-top: 70px;
  height: 400px;
}
.photoproduct-albumstwo-alb01 {
  height: 100%;
}
.photoproduct-albumstwo-alb01 img {
  height: 100%;
}
.photoproduct-albumstwo-alb02 {
  height: 100%;
}
.photoproduct-albumstwo-alb02 img {
  height: 100%;
}
.photoproduct-albumstwo-alb03 {
  height: 100%;
}
.photoproduct-albumstwo-alb03 img {
  height: 100%;
}
.photoproduct-albumstwo-alb04 {
  height: 100%;
}
.photoproduct-albumstwo-alb04 img {
  height: 100%;
}
.photoservices {
  height: auto;
  margin-top: 100px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}
.photoservices h1 {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  margin-top: 50px;
  font-weight: bolder;
}
.photoservices-table {
  width: 60%;
  margin: 50px auto 100px auto;
  font-family: 'Exo 2', sans-serif;
}
.photoservices-table tr {
  border: 1px solid gray;
}
.photoservices-table tr th {
  text-align: center;
  font-size: 3rem;
  background-color: #d1d1d1;
  border: 1px solid gray;
  padding: 3px;
}
.photoservices-table tr td {
  text-align: center;
  font-size: 2rem;
  border: 1px solid gray;
  padding: 3px;
}
.photoservices-table tr:nth-child(odd) {
  background-color: #ededed;
}
.contacts {
  font-family: 'Exo 2', sans-serif;
}
.contacts h1 {
  margin-top: 50px;
  text-align: center;
  font-weight: bolder;
  font-family: 'Exo 2', sans-serif;
}
.contacts-communications {
  background: -webkit-gradient(linear, left bottom, left top, from(#26272b), color-stop(#3f4147), to(#26272b));
  background: linear-gradient(to top, #26272b, #3f4147, #26272b);
  height: 100%;
}
.contacts-communications span {
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 2rem;
}
.contacts-communications-namecompany {
  height: 100%;
}
.contacts-communications-reginfo {
  height: 100%;
}
/*@media (max-width: 1160px) {
	.header {
		&-wrapper {
			&-contacts {
				&-phone {
					span {
						font-size: 1.7rem;
					}
				}
				&-email {
					span {
						font-size: 1.7rem;
					}
				}
			}
		}
	}
}
*/
@media (max-width: 1200px) {
  /*1170px*/
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
  }
  .menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .menu-wrapper-list {
    margin: 2px 0;
  }
  .menu-wrapper-list li a {
    height: 50px;
  }
}
@media (max-width: 991px) {
  /*970px*/
  .header-wrapper-contacts-phone span {
    font-size: 1.7rem;
  }
  .header-wrapper-contacts-email span {
    font-size: 1.7rem;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
  }
  .menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .menu-wrapper-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-wrapper-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-wrapper-list li a {
    margin: 0 5px;
  }
}
@media (max-width: 950px) {
  .menu-wrapper-list li a {
    font-size: 1.5rem;
    padding: 0 1px;
  }
}
@media (max-width: 750px) {
  /*750px*/
  .header {
    height: auto;
  }
  .header-wrapper {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-wrapper-logo {
    display: block;
    height: 100px;
    width: 100%;
    margin: 0 auto;
  }
  .header-wrapper-logo img {
    width: 100%;
    display: block;
  }
  .header-wrapper-contacts {
    height: 100px;
    width: 100%;
    margin: 0 auto;
  }
  .header-wrapper-contacts-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    width: 100%;
    margin: 0 auto;
  }
  .header-wrapper-contacts-phone span {
    font-size: 1.7rem;
  }
  .header-wrapper-contacts-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    width: 100%;
    margin: 0 auto;
  }
  .header-wrapper-contacts-email span {
    font-size: 1.7rem;
  }
  .menu-wrapper {
    height: auto;
  }
  .menu-wrapper-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .menu-wrapper-list li {
    height: 1px;
    margin: 30px 0;
    width: 100%;
  }
  .menu-wrapper-list li a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.7rem;
    height: 50px;
    width: 100%;
  }
}
@media (max-width: 540px) {
  .header {
    height: auto;
  }
  .header-wrapper {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-wrapper-logo img {
    height: 100%;
  }
  .header-wrapper-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    text-align: center;
  }
  .header-wrapper-contacts-phone {
    height: auto;
    width: 100%;
  }
  .header-wrapper-contacts-phone img {
    display: none;
  }
  .header-wrapper-contacts-phone span {
    font-size: 2rem;
  }
  .header-wrapper-contacts-email {
    height: auto;
    width: 100%;
  }
  .header-wrapper-contacts-email img {
    display: none;
  }
  .header-wrapper-contacts-email span {
    font-size: 2rem;
  }
}
