@border-marker: 1px solid red;
@gray-color: #807e7b;
@orange-color: #ff7e00;
@font-exo2: 'Exo 2', sans-serif;


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: @orange-color;
}

.center {
	display: block;
	margin: 0 auto;
}

.souvenir-span {
	font-weight: bolder;
	font-size: 2.5rem;
}

// <!-- HEADER  START-->
.header {
	//border: @border-marker;
	height: 100px;
	font-family: @font-exo2;
		&-wrapper {
			width: 80%;
			height: 100%;
			margin: 0 auto;
			//border: @border-marker;
				&-logo {
					//border: @border-marker;
					display: flex;
					//align-items: center;
					justify-content: center;
					height: 100%;
						img {
							width: 70%;
							//border: @border-marker;
						}
				}
				&-contacts {
					height: 100%;
					color: @gray-color;
					&-phone {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						//border: @border-marker;
						height: 50%;
						img {
							height: 80%;
							margin-right: 20px;
							//padding-right: 20px;
						}
						span {
							font-size: 2rem;
							font-weight: bolder;
						}
					}
					&-email {
						//border: @border-marker;
						height: 50%;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						img {
							height: 80%;
							margin-right: 20px;
							//padding-right: 20px;
						}
						span {
							font-size: 2rem;
							font-weight: bolder;
						}
					}
				}

			.header-wrapper-contacts, .header-wrapper-logo {
				padding: 0;
			}

		}

}

// <!-- HEADER  STOP-->

// **************************

// <!-- MENU START-->

.menu {
	height: 50px;
	//border: @border-marker;
	font-family: @font-exo2;
	background-color: @orange-color;
		&-wrapper {
			width: 80%;
			margin: 0 auto;
			//border: @border-marker;
			&-list {
				//border: @border-marker;
				display: flex;
				justify-content: space-between;
				height: 50px;
				text-align: center;
				li {
					display: flex;
					align-items: center;
					list-style-type: none;
					//border: @border-marker;
					height: 100%;
					a {
						//border: @border-marker;
						align-content: center;
						text-decoration: none;
						font-size: 1.7rem;
						padding: 10px 20px;
						color: white;
						transition: ease-out 0.5s;
							&:hover {
								background-color: white;
								color: @orange-color;
								border-radius: 5px;
								transition: ease-out 0.5s;
							}
					}
				}
			}
		}

}

// <!-- MENU STOP-->



// <!-- SLIDER START-->

.slider {
	//border: @border-marker;
	height: 515px;
		.carousel {
			//border: @border-marker;
			height: 100%;
			.carousel-inner {
				height: 100%;
					.item {
						img {
							width: 100%;
						}
					}
			}
		}
}

.row div {
	padding: 0;
}

// <!-- SLIDER STOP-->

//<!--********************-->

// <!-- PHOTOPRINT START-->

.photoprint {
	//border: @border-marker;
	height: auto;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
		&-price {
			height: 100%;
			//border: @border-marker;
			color: @orange-color;
			text-align: center;
				h1 {
					font-family: 'Exo 2', sans-serif;
					font-weight: bolder;
					text-align: center;
					margin-top: 50px;
				}
				&-table {
					width: 75%;
					margin: 0 auto;
					margin-top: 50px;
					font-family: 'Exo 2', sans-serif;
						tr {
							border: 1px solid gray;
								th {
									text-align: center;
									font-size: 3rem;
									background-color: #d1d1d1;
									border: 1px solid gray;
								}
								td {
									text-align: center;
									font-size: 2rem;
									border: 1px solid gray;
								}
							&:nth-child(odd) {
								background-color: #ededed;
							}
						}
				}
				span {
					display: block;
					margin-top: 20px;
				}
		}
		&-pict {
			height: 100%;
			//border: @border-marker;
				img {
					//border: @border-marker;
					position: relative;
					float: right;
					width: 200%;
				}
		}
}

// <!-- PHOTOPRINT STOP-->

// ***************************

// <!--DOCPHOTO START-->

.docphoto {
	height: auto;
	//border: @border-marker;
		&-pict {
			//border: @border-marker;
			height: 100%;
				img {
					//border: @border-marker;
					display: block;
					margin: 20px auto;
					padding: 30px 0;
				}
		}
		&-price {
			//border: @border-marker;
			height: 100%;
			font-family: 'Exo 2', sans-serif;
				h1 {
					font-weight: bolder;
					text-align: center;
					margin-top: 50px;
				}
			&-table {
				width: 75%;
				margin: 0 auto;
				margin-top: 50px;
					tr {
						border: 1px solid gray;
						th {
							text-align: center;
							font-size: 3rem;
							background-color: #d1d1d1;
							border: 1px solid gray;
						}
						td {
							text-align: center;
							font-size: 2rem;
							border: 1px solid gray;
						}
						&:nth-child(odd) {
							background-color: #ededed;
						}
					}
			}
		}
}

// <!--DOCPHOTO STOP-->

//************************

// <!--SOUVENIR START-->

.souvenir {
	//border: @border-marker;
	height: auto;
	font-family: 'Exo 2', sans-serif;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
		h1 {
			font-weight: bolder;
			text-align: center;
			margin: 100px 0 50px 0;
		}
		&-block1 {
			height: auto;
			text-align: center;
			&-cup1 {
				height: 400px;
				//border: @border-marker;
				//text-align: center;
				img {
					//border: @border-marker;
					height: 100%;
				}
			}
			&-cup2 {
				height: 400px;
				//border: @border-marker;
				//text-align: center;
				img {
					height: 100%;
					//border: @border-marker;
				}
			}
			&-pillow {
				height: 400px;
				//border: @border-marker;
				//text-align: center;
				img {
					height: 100%;
					//border: @border-marker;
				}
			}
		}
		&-block2 {
			//border: @border-marker;
			height: auto;
			margin-top: 100px;
			text-align: center;
				&-case {
					//border: @border-marker;
					height: 400px;
						img {
							height: 100%;
						}
				}
				&-trinket {
					//border: @border-marker;
					height: 400px;
						img {
							height: 100%;
						}
				}
				&-puzzles {
					//border: @border-marker;
					height: 400px;
						img {
							height: 100%;
						}
				}
		}
		&-block3 {
			height: auto;
			//border: @border-marker;
			margin: 100px 0;
			text-align: center;
				&-magnits {
					//border: @border-marker;
					height: 400px;
						img {
							height: 100%;
						}
				}
				&-shar {
					//border: @border-marker;
					height: 400px;
						img {
							height: 100%;
						}
				}
				&-cover {
					//border: @border-marker;
					height: 400px;
						img {
							height: 100%;
						}
				}
		}


}

// <!--SOUVENIR STOP-->

// ***********************

// <!-- PHOTOPRODUCT START-->

.photoproduct {
	border: @border-marker;
	height: 500px;
}

// <!-- PHOTOPRODUCT STOP-->