@border-marker: 1px solid red;
@gray-color: #bababa;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


// <!-- HEADER  START-->
.header {
	border: @border-marker;
	height: 100px;
		&-wrapper {
			width: 80%;
			height: 100%;
			margin: 0 auto;
			border: @border-marker;
				&-logo {
					border: @border-marker;
					display: flex;
					//align-items: center;
					justify-content: center;
					height: 100%;
						img {
							width: 80%;
							border: @border-marker;
						}
				}
				&-contacts {
					height: 100%;
					color: @gray-color;
					&-phone {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						border: @border-marker;
						height: 50%;
						img {
							height: 80%;
							margin-right: 20px;
							//padding-right: 20px;
						}
						span {
							font-size: 2rem;
							font-weight: bolder;
						}
					}
					&-email {
						border: @border-marker;
						height: 50%;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						img {
							height: 80%;
							margin-right: 20px;
							//padding-right: 20px;
						}
						span {
							font-size: 2rem;
							font-weight: bolder;
						}
					}
				}

			.header-wrapper-contacts, .header-wrapper-logo {
				//padding: 0;
			}

		}

}

// <!-- HEADER  STOP-->

// **************************

// <!-- MENU START-->

.menu {
	height: 50px;
	border: @border-marker;
		&-list {
			border: @border-marker;
				li {
					display: inline-block;
					list-style-type: none;
					a {
						text-decoration: none;
					}
				}
		}
}

// <!-- MENU STOP-->



// <!-- SLIDER START-->

.slider {
	border: @border-marker;
	height: 700px;

}

// <!-- SLIDER STOP-->
